* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  height: 100vh;
  display: grid;
  gap: 10px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "sidebar-main"
    "sidebar"
    "sidebar-sec"
    "footer"
  ;
}

.header {
  background-color: #DDD;
  grid-area: header;
}

.main {
  background-color: #DDD;
  grid-area: main;
}

.sidebar {
  background-color: #DDD;
  grid-area: sidebar;
}

.sidebar-main {
  background-color: #DDD;
  grid-area: sidebar-main;
}

.sidebar-sec {
  background-color: #DDD;
  grid-area: sidebar-sec;
}

.footer {
  background-color: #DDD;
  grid-area: footer;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr; */
    grid-template-rows: .5fr 2fr .5fr .5fr;
    grid-template-areas: 
      "header header header header header header"
      ". main main main sidebar ."
      ". sidebar-main sidebar-main sidebar-sec sidebar-sec ."
      "footer footer footer footer footer footer"
    ;
  }
}